{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 4,
  "overrides": [
    {
      "files": ["*.css", "*.json"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
