.input {
  width: 100%;

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input::-moz-outer-spin-button,
  input::-moz-inner-spin-button {
    -moz-appearance: none;
    margin: 0;
  }
}